<div>
    <h2>{{name}}</h2>
    <div>
        <h3>Capital: {{capital}}</h3>
        <h3>Population: {{population}}</h3>
        <ul><h3>Languages</h3>
            {{#each languages}}
                <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div>
        <img src="{{flag}}" alt="{{name}}">
    </div>
</div>